@font-face {
  font-family: 'iicomoon';
  src: url('./iicomoon.eot?orkqwr');
  src: url('./iicomoon.eot?orkqwr#iefix') format('embedded-opentype'),
    url('./iicomoon.ttf?orkqwr') format('truetype'),
    url('./iicomoon.woff?orkqwr') format('woff'),
    url('./iicomoon.svg?orkqwr#iicomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iicon-"],[class*=" iicon-"] {
  font-family: 'iicomoon' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.elementor-icons-manager__tab__item__icon.fi{font-size: 40px;}

.iicon-arrow-top-1:before {
  content: "\e97d";
}
.iicon-247:before {
  content: "\e97e";
}
.iicon-arrow-left:before {
  content: "\e97f";
}
.iicon-arrow-right:before {
  content: "\e980";
}
.iicon-arrow-top:before {
  content: "\e981";
}
.iicon-award-1:before {
  content: "\e982";
}
.iicon-bubble-chat:before {
  content: "\e983";
}
.iicon-business:before {
  content: "\e984";
}
.iicon-car:before {
  content: "\e985";
}
.iicon-card:before {
  content: "\e986";
}
.iicon-check-1:before {
  content: "\e987";
}
.iicon-checked:before {
  content: "\e988";
}
.iicon-click:before {
  content: "\e989";
}
.iicon-clock-2:before {
  content: "\e98a";
}
.iicon-clock-1:before {
  content: "\e98b";
}
.iicon-diamond:before {
  content: "\e98c";
}
.iicon-email:before {
  content: "\e98d";
}
.iicon-fast:before {
  content: "\e98e";
}
.iicon-heart:before {
  content: "\e98f";
}
.iicon-help:before {
  content: "\e990";
}
.iicon-home:before {
  content: "\e991";
}
.iicon-like:before {
  content: "\e992";
}
.iicon-location-1:before {
  content: "\e993";
}
.iicon-medical:before {
  content: "\e994";
}
.iicon-money:before {
  content: "\e995";
}
.iicon-offers:before {
  content: "\e996";
}
.iicon-phone-1:before {
  content: "\e997";
}
.iicon-phone-2:before {
  content: "\e998";
}
.iicon-play:before {
  content: "\e999";
}
.iicon-plus:before {
  content: "\e99a";
}
.iicon-process:before {
  content: "\e99b";
}
.iicon-protect-2:before {
  content: "\e99c";
}
.iicon-protect:before {
  content: "\e99d";
}
.iicon-quote:before {
  content: "\e99e";
}
.iicon-save-money:before {
  content: "\e99f";
}
.iicon-search1:before {
  content: "\e9a0";
}
.iicon-select:before {
  content: "\e9a1";
}
.iicon-share:before {
  content: "\e9a2";
}
.iicon-star-2:before {
  content: "\e9a3";
}
.iicon-star-1:before {
  content: "\e9a4";
}
.iicon-star:before {
  content: "\e9a5";
}
.iicon-subscribe:before {
  content: "\e9a6";
}
.iicon-support-1:before {
  content: "\e9a7";
}
.iicon-travel:before {
  content: "\e9a8";
}
.iicon-users-1:before {
  content: "\e9a9";
}
.iicon-technology:before {
  content: "\f11d";
}
.iicon-share-1:before {
  content: "\f135";
}
.iicon-pin-1:before {
  content: "\f102";
}
.iicon-increment:before {
  content: "\f112";
}
.iicon-check:before {
  content: "\f136";
}
.iicon-email-1:before {
  content: "\f101";
}
.iicon-thumbs-up:before {
  content: "\f116";
}
.iicon-chat-1:before {
  content: "\f126";
}
.iicon-pin-2:before {
  content: "\f134";
}
.iicon-chat-2:before {
  content: "\f128";
}
.iicon-email-2:before {
  content: "\f12f";
}
.iicon-plus-1:before {
  content: "\f129";
}
.iicon-mission:before {
  content: "\f10e";
}
.iicon-call:before {
  content: "\f12e";
}
.iicon-checkmark-1:before {
  content: "\f10b";
}
.iicon-checked-2:before {
  content: "\f137";
}
.iicon-email-3:before {
  content: "\f100";
}
.iicon-minus:before {
  content: "\f12a";
}
.iicon-search-1:before {
  content: "\f12c";
}
.iicon-left-arrow:before {
  content: "\f113";
}
.iicon-speech-bubble:before {
  content: "\f127";
}
.iicon-folder:before {
  content: "\e900";
}
.iicon-car-2:before {
  content: "\e904";
}
.iicon-cardiogram:before {
  content: "\e917";
}
.iicon-magnifying-glass:before {
  content: "\e918";
}
.iicon-calling:before {
  content: "\e919";
}
.iicon-healthy-life:before {
  content: "\e91a";
}
.iicon-car-1:before {
  content: "\e91b";
}
.iicon-cashback:before {
  content: "\e91c";
}
.iicon-insurance:before {
  content: "\e91d";
}
.iicon-house:before {
  content: "\e91e";
}
.iicon-home-insurance:before {
  content: "\e91f";
}
.iicon-drive:before {
  content: "\e920";
}
.iicon-home-1:before {
  content: "\e921";
}
.iicon-heart-beat:before {
  content: "\e922";
}
.iicon-fire:before {
  content: "\e923";
}
.iicon-briefcase:before {
  content: "\e924";
}
.iicon-ring:before {
  content: "\e925";
}
.iicon-plane:before {
  content: "\e926";
}
.iicon-easy-to-use:before {
  content: "\e927";
}
.iicon-policy:before {
  content: "\e928";
}
.iicon-contract:before {
  content: "\e929";
}
.iicon-fund:before {
  content: "\e92a";
}
.iicon-save-money-1:before {
  content: "\e92b";
}
.iicon-online-registration:before {
  content: "\e92c";
}
.iicon-guarantee:before {
  content: "\e92d";
}
.iicon-medal:before {
  content: "\e92e";
}
.iicon-home-2:before {
  content: "\e92f";
}
.iicon-telephone:before {
  content: "\e930";
}
.iicon-telephone-call:before {
  content: "\e931";
}
.iicon-pin:before {
  content: "\e932";
}
.iicon-cash-flow:before {
  content: "\e933";
}
.iicon-profits:before {
  content: "\e934";
}
.iicon-insurance-2:before {
  content: "\e935";
}
.iicon-select-1:before {
  content: "\e936";
}
.iicon-meeting:before {
  content: "\e937";
}
.iicon-agreement:before {
  content: "\e938";
}
.iicon-insurance-agent:before {
  content: "\e939";
}
.iicon-tick:before {
  content: "\e93a";
}
.iicon-money-back:before {
  content: "\e93b";
}
.iicon-cross:before {
  content: "\e93c";
}
.iicon-suitcase-1:before {
  content: "\e93d";
}
.iicon-computer:before {
  content: "\e93e";
}
.iicon-chat:before {
  content: "\e93f";
}
.iicon-file:before {
  content: "\e940";
}
.iicon-shield-1:before {
  content: "\e941";
}
.iicon-fire-1:before {
  content: "\e942";
}
.iicon-wedding-rings:before {
  content: "\e943";
}
.iicon-quote-1:before {
  content: "\e945";
}
.iicon-group:before {
  content: "\e94e";
}
.iicon-life-insurance:before {
  content: "\e951";
}
.iicon-success:before {
  content: "\e952";
}
.iicon-easy:before {
  content: "\e955";
}
.iicon-controls:before {
  content: "\e958";
}
.iicon-bonus:before {
  content: "\e961";
}
.iicon-employees:before {
  content: "\e963";
}
.iicon-self-service:before {
  content: "\e966";
}
.iicon-meeting-1:before {
  content: "\e967";
}
.iicon-agreement-1:before {
  content: "\e969";
}
.iicon-family:before {
  content: "\e96c";
}
.iicon-phone-ringing:before {
  content: "\e975";
}
.iicon-team:before {
  content: "\e976";
}
.iicon-art:before {
  content: "\e977";
}
.iicon-pdf:before {
  content: "\e978";
}
.iicon-message:before {
  content: "\e979";
}
.iicon-phone-call-1:before {
  content: "\e97a";
}
.iicon-placeholder:before {
  content: "\e97b";
}
.iicon-family-1:before {
  content: "\e97c";
}
.iicon-arrow:before {
  content: "\e901";
}
.iicon-award:before {
  content: "\e902";
}
.iicon-chart-2:before {
  content: "\e903";
}
.iicon-check-2:before {
  content: "\e905";
}
.iicon-document-1:before {
  content: "\e906";
}
.iicon-download:before {
  content: "\e907";
}
.iicon-email-4:before {
  content: "\e908";
}
.iicon-extend:before {
  content: "\e909";
}
.iicon-idea-2:before {
  content: "\e90a";
}
.iicon-idea:before {
  content: "\e90b";
}
.iicon-location-2:before {
  content: "\e90c";
}
.iicon-pen:before {
  content: "\e90d";
}
.iicon-phone-3:before {
  content: "\e90e";
}
.iicon-search:before {
  content: "\e90f";
}
.iicon-security:before {
  content: "\e910";
}
.iicon-start:before {
  content: "\e911";
}
.iicon-target:before {
  content: "\e912";
}
.iicon-testimonial:before {
  content: "\e913";
}
.iicon-time:before {
  content: "\e914";
}
.iicon-users-2:before {
  content: "\e915";
}
.iicon-users-3:before {
  content: "\e916";
}
.iicon-checkmark:before {
  content: "\e944";
}
.iicon-analytics:before {
  content: "\e946";
}
.iicon-arrow-right-2:before {
  content: "\e947";
}
.iicon-bars:before {
  content: "\e948";
}
.iicon-bulb:before {
  content: "\e949";
}
.iicon-cart:before {
  content: "\e94a";
}
.iicon-chart:before {
  content: "\e94b";
}
.iicon-clock:before {
  content: "\e94c";
}
.iicon-comment:before {
  content: "\e94d";
}
.iicon-document:before {
  content: "\e94f";
}
.iicon-donut-chart:before {
  content: "\e950";
}
.iicon-hand-shake:before {
  content: "\e953";
}
.iicon-hand:before {
  content: "\e954";
}
.iicon-laptop:before {
  content: "\e956";
}
.iicon-left-arrow-2:before {
  content: "\e957";
}
.iicon-like-stars:before {
  content: "\e959";
}
.iicon-location:before {
  content: "\e95a";
}
.iicon-locator:before {
  content: "\e95b";
}
.iicon-megaphone:before {
  content: "\e95c";
}
.iicon-paper-plane:before {
  content: "\e95d";
}
.iicon-phone-call:before {
  content: "\e95e";
}
.iicon-phone:before {
  content: "\e95f";
}
.iicon-play-1:before {
  content: "\e960";
}
.iicon-right-arrow-2:before {
  content: "\e962";
}
.iicon-shield:before {
  content: "\e964";
}
.iicon-social-2:before {
  content: "\e965";
}
.iicon-star-3:before {
  content: "\e968";
}
.iicon-suitcase:before {
  content: "\e96a";
}
.iicon-support:before {
  content: "\e96b";
}
.iicon-up-arrow:before {
  content: "\e96d";
}
.iicon-user-edit:before {
  content: "\e96e";
}
.iicon-user-stars:before {
  content: "\e96f";
}
.iicon-user:before {
  content: "\e970";
}
.iicon-users:before {
  content: "\e971";
}
.iicon-vector:before {
  content: "\e972";
}
.iicon-web-dev:before {
  content: "\e973";
}
.iicon-web:before {
  content: "\e974";
}
